/node_modules
/public/hot
/storage/*.key

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# in order to get changed password logic, a subfolder of vendor is excluded from gitignore
!vendor/

vendor/*
!vendor/laravel/

vendor/laravel/*
!vendor/laravel/fortify/
